n8n_workflows/create_github_pr.json
{
  "name": "Create GitHub PR from Completed Task",
  "description": "Automatically create GitHub PR from completed TeamCLI tasks",
  "nodes": [
    {
      "parameters": {
        "triggerType": "pollURL",
        "pollURL": "http://localhost:8000/api/tasks?status=success"
      },
      "id": "poll-api",
      "name": "Poll API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "",
        "mode": "combine"
      },
      "id": "split-tasks",
      "name": "Split Tasks",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": [
            {
              "condition": "string",
              "key": "json.json_output.files_changed",
              "operation": "isNotEmpty",
              "type": "string"
            }
          ]
        }
      },
      "id": "filter-with-changes",
      "name": "Filter Tasks with Changes",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const task = $input.first().json;\nconst output = task.json_output || {};\nconst codeBlocks = output.code_blocks || [];\n\nreturn {\n  title: `[Claude] ${task.prompt.substring(0, 50)}...`,\n  body: `Generated by TeamCLI\\n\\nTask: ${task.id}\\nDirectory: ${task.directory}\\n\\n## Changes\\n${(codeBlocks || []).map(b => `\\\\`\\\\`\\\\`${b.language}\\n${b.code}\\n\\\\`\\\\`\\\\``).join('\\n')}`,\n  branch: `team-cli/${task.id.substring(5)}`,\n  base: 'main'\n}"
      },
      "id": "extract-pr-data",
      "name": "Extract PR Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "pull",
        "operation": "create",
        "owner": "={{ $env.GITHUB_OWNER }}",
        "repository": "={{ $env.GITHUB_REPO }}",
        "title": "={{ $node['Extract PR Data'].json.title }}",
        "body": "={{ $node['Extract PR Data'].json.body }}",
        "head": "={{ $node['Extract PR Data'].json.branch }}",
        "base": "={{ $node['Extract PR Data'].json.base }}"
      },
      "id": "create-pr",
      "name": "Create GitHub PR",
      "type": "n8n-nodes-base.github",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "githubOAuth2Api": "github_oauth"
      }
    }
  ],
  "connections": {
    "Poll API": {
      "main": [
        [
          {
            "node": "Split Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Tasks": {
      "main": [
        [
          {
            "node": "Filter Tasks with Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Tasks with Changes": {
      "main": [
        [
          {
            "node": "Extract PR Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PR Data": {
      "main": [
        [
          {
            "node": "Create GitHub PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "triggerNodes": [
    "poll-api"
  ]
}
